html{ overflow: hidden;}

body { margin: 0;  overflow: hidden;width: 100%; height: 100%}



#map { position: absolute; top: 0; bottom: 0; width: 100%; height: 100%; z-index:-10; overflow: hidden;}


.imgpop {
	position: absolute;
	top: 500px;
    left: 500px;
	opacity: 0;	
	z-index:-100;
	
}

.imgpop.active {
	animation: stiker_in 0.3s ease-in 0s 1 normal forwards;	
}


.imgpop.leave {
	animation: stiker_out 0.3s ease-out 0s 1 normal forwards;
}



@keyframes stiker_in {
	0% {
		transform: scale(2);
		opacity: 0;
		z-index:-100;

	}

	100% {
		transform: scale(1) ;
		opacity: 1;
		z-index:50;
	}
}

.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#42602D;
  letter-spacing:4px;
  text-transform:uppercase;

}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #42602D;
  border-right:3px solid #42602D;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}

@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(720deg);
  }
}




@keyframes stiker_out {
	0% {
		transform: scale(1);
		opacity: 1;
		z-index:50;

	}

	100% {
		transform: scale(2) ;
		opacity: 0;
		z-index:-100;
	}
}


#myBtn {
  position: absolute; 
  right: 2rem;
  bottom: 2rem;
  z-index: 99; 
  font-size:100%;
  text-align: center;
  width:50px;
  height:50px;
  border-width:0px;
  color:rgba(255, 255, 255, 1);
  font-weight:bold;
  border-top-left-radius:27px;
  border-top-right-radius:27px;
  border-bottom-left-radius:27px;
  border-bottom-right-radius:27px;
  background:rgba(99, 99, 99, 0.3);
}


#myBtn:hover {
  background: rgba(255, 255, 255, 0.5);
}

.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 5;
    }

.marker:hover {
  opacity: 0.8;
}

